.container {
    padding: 16px;
  }
  
  .input {
    width: 2.5ch;
    padding: 8px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    margin-right: 12px;
    border: 2px solid #424242;
    text-transform: uppercase;
    @media screen and (max-width:480px) {
        width: 2ch;
    }
    @media screen and (max-width:280px) {
        width: 1.25ch;
    }

  }