.RFS-StepperContainer {
  width: 100%;
  transition: all 0.2s;
}
.ant-radio-inner {
  box-shadow: none;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #fc6e20 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #fc6e20 !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #fc6e20 !important;
}

.ant-select-selector {
  padding: 10px !important;
  height: auto !important;
  border-radius: 12px !important;
  &:hover {
    border-color: #fc6e20 !important;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #fc6e20;
  box-shadow: none;
}
.ant-select-selection-search-input {
  // padding: 100px 0 !important;
  height: 100% !important;
}

.ant-spin-dot-item {
  background-color: #fc6e20;
}
