.rec.rec-arrow {
    background-color: transparent;
    color: #FC6E20;
}

.rec.rec-arrow:hover,.rec.rec-arrow:hover:enabled,.rec.rec-arrow:enabled{
    background-color: transparent !important;
    color: #FC6E20 !important;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.carousel{
    width: 75% !important;
    height: 100%;
    padding: 20px 0px;
}

@media screen and (max-width:550px) {
    .rec.rec-arrow{
        display: none;
    }
}

@media screen and (max-width:780px) {
    .carousel{
        width: 100% !important;
    }
}